<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/login.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
   <section class="ftco-section">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
               <div class="login-wrap p-4 p-md-5" style="height: 550px;">
                  <div class="icon d-flex align-items-center justify-content-center">
                     <span class="fa fa-user-o"></span>
                  </div>
                  <form action="/user/login" class="login-form" autocomplete="off" method="post">
                     <input type="text" name="email1" style="display: none;" autocomplete="username">
                     <input type="password" name="password1" style="display: none;" autocomplete="current-password">

                     <div class="form-group">
                        <input type="text" class="form-control rounded-left" placeholder="User Email" name="email" autocomplete="off">
                     </div>
                     <div class="form-group d-flex">
                        <input type="password" class="form-control rounded-left" placeholder="Password" name="password" autocomplete="off">
                     </div>
                     <div class="form-group d-md-flex">
                        <div class="w-50">
                           <a href="/user/forgotpassword">forgot password</a>
                        </div>
                     </div>
                     <div class="form-group" style="height:57px">
                        <button type="submit" class="btn btn-primary rounded submit p-3 px-5">Login</button>
                     </div>
                     <p style="text-align: center;">Or</p>
                     
                     <div class="form-group">
                        <p>Don't have an account <a href="/user/signup">Signup</a></p>
                     </div>
                  </form>
                  <div class="form-group" style="height:57px;margin-top:-32px">
                     <button class="btn btn-primary rounded submit p-3 px-5" onclick="location.href='/user/auth/google'">Login With Google</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <% if (notExistmessage && notExistmessage.length>0) { %>
   <script>
      Swal.fire({
         icon: "error",
         text: "<%= notExistmessage %>"
      });
   </script>
   <% } %>

   <% if (nocontendmessage && nocontendmessage.length>0) { %>
      <script>
         Swal.fire({
            icon: "info",
            text: "<%= nocontendmessage %>"
         });
      </script>
      <% } %>

      <% if (successmessage && successmessage.length>0) { %>
         <script>
            Swal.fire({
               icon: "success",
               text: "<%= successmessage %>"
            });
         </script>
         <% } %>

         <% if (errormessage && errormessage.length>0) { %>
            <script>
               Swal.fire({
                  icon: "error",
                  text: "<%= errormessage %>"
               });
            </script>
            <% } %>
      

   <script src="js/jquery.min.js"></script>
   <script src="js/popper.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/main.js"></script>

</body>