<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/login.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
   <section class="ftco-section">
      <div class="container" style="margin-top: -50px;">
         <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
               <div class="login-wrap p-4 p-md-5" style="height: 638px;">
                  <div class="icon d-flex align-items-center justify-content-center">
                     <span class="fa fa-user-o"></span>
                  </div>
                  <form action="/user/verifyOTP" class="login-form" method="post">

                     <div class="form-group">
                        <input type="text" class="form-control rounded-left flname" placeholder="Enter firstname"
                           name="firstname">
                     </div>

                     <div class="form-group">
                        <input type="text" class="form-control rounded-left flname" placeholder="Enter lastname"
                           name="lastname">
                     </div>
                     <div class="form-group">
                        <input type="text" class="form-control rounded-left" placeholder="Enter your phone number"
                           name="phonenumber">
                     </div>
                     <input type="text" name="hiddenemail" style="display: none;" autocomplete="username">
                     <input type="password" name="hiddenpassword" style="display: none;"
                        autocomplete="current-password">
                     <div class="form-group">
                        <input type="text" class="form-control rounded-left" placeholder="Enter your email address"
                           name="email">
                     </div>
                     <div class="form-group d-flex">
                        <input type="password" class="form-control rounded-left" placeholder="Enter Password"
                           name="password" id="password">
                        <span id="togglePassword" class="eye-icon">
                           <i class="fa fa-eye" aria-hidden="true"></i>
                        </span>
                     </div>
                     <div class="form-group">
                        <input type="text" class="form-control rounded-left" placeholder="Confirm Password"
                           name="confirmpassword">
                     </div>
                     <div class="form-group">
                        <button type="submit" class="btn btn-primary rounded submit p-3 px-5">Generate OTP</button>
                     </div>
                     <div class="form-group" style="margin-top: -10px;">
                        <p>Do you already have an account <a href="/user/login">Login</a></p>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </section>


   <% if (exitusermessage && exitusermessage.length>0) { %>
   <script>
      Swal.fire({
         title: "<%= exitusermessage %>",
         icon: "info"
      });
   </script>
   <% } %>

   <% if (nocondentmessage && nocondentmessage.length>0) { %>
   <script>
      Swal.fire({
         title: "<%= nocondentmessage %>",
         icon: "warning"
      });
   </script>
   <% } %>

   <% if (successsavemessage && successsavemessage.length>0) { %>
   <script>
      Swal.fire({
         title: "<%= successsavemessage %>",
         icon: "success"
      });
   </script>
   <% } %>

   <% if (errormessage && errormessage.length>0) { %>
      <script>
         Swal.fire({
            title: "<%= errormessage %>",
            icon: "error"
         });
      </script>
      <% } %>


  



 

   <script>
      const togglePassword = document.getElementById("togglePassword");
      const passwordInput = document.getElementById("password");

      togglePassword.addEventListener("click", function () {
         // Toggle the type attribute
         const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
         passwordInput.setAttribute("type", type);

         // Toggle the eye icon
         this.innerHTML = type === "password"
            ? '<i class="fa fa-eye" aria-hidden="true"></i>'
            : '<i class="fa fa-eye-slash" aria-hidden="true"></i>';
      });

   </script>





   <script src="js/jquery.min.js"></script>
   <script src="js/popper.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/main.js"></script>

</body>