<header class="d-flex align-items-center justify-content-between p-3 shadow">
   <!-- Logo and Title -->
   <div class="d-flex align-items-center">
     <a href="/user/product %>">
      <img src="/uploads/logo.jpeg" alt="Company Logo" style="height: 69px;
     margin-right: 6px;
     width: 78px;
     border-radius: 50px;">
     </a>
     <h1 style="font-family: fantasy;">Taste Trial</h1>
     <h1 class="d-none"><%= userid %></h1>
     <div class="d-flex searchkey">
      <input type="text" id="searchInput" oninput="searchItem(this.value)" class="form-control"
      placeholder="Search by <%= searchmessage %>..." value="<%= searcheditemname %>" style="width:50%">
     </div>
     <div class="icons">
     
       <a href="/user/cart" class="text-dark"><i class="bi bi-cart" style="font-size: 30px;"></i></a>
       <a href="" class="text-dark"><i class="bi bi-heart-fill" style="font-size: 30px;"></i></a>
       <a href="" class="text-dark"><i class="bi bi-wallet" style="font-size: 30px;"></i></a>

     </div>
   </div>
 
   <!-- User Info and Quick Links -->
   <div class="d-flex align-items-center">
     <button href="" class="btn btn-danger" onclick="logoutfun()">
       <i class="fas fa-right-from-bracket fs-5 p-2 text-white"></i>
       Logout
     </button>
   </div>
 </header>

 <script>
    function logoutfun() {
    window.location.href = "/user/logout"
  }
 </script>