<style>

</style>
<header class="d-flex align-items-center justify-content-between p-3 shadow">
  <!-- Logo and Title -->
  <div class="d-flex align-items-center">
    <img src="/uploads/logo.jpeg" class="col-md-2" alt="Company Logo" style="height: 69px;
     margin-right: 6px;
     width: 78px;
     border-radius: 50px;">
    <h1 style="font-family: fantasy;" class="col-md-2">Taste Trial</h1>
    <div class="row search-bar col-md-6" style="margin-left: 100px;">
      <div class=" ">
        <div class="input-group">
          <span class="input-group-text bg-secondary text-light"><i class="fas fa-search"></i></span>
          <input type="text" id="searchInput" oninput="searchItem(this.value)" class="form-control"
            placeholder="Search by <%= searchmessage %>..." value="<%= searcheditemname %>">
        </div>
      </div>
    </div>
    <div class="rightside d-flex col-md-3">
      <div class="icons">
        <a href="" class="text-dark"><i class="bi bi-cart" style="font-size: 30px;"></i></a>
        <a href="" class="text-dark"><i class="bi bi-heart-fill" style="font-size: 30px;"></i></a>
        <a href="" class="text-dark"><i class="bi bi-wallet" style="font-size: 30px;"></i></a>
        <a href="/user/dashboard" class="text-dark"><i class="bi bi-person-circle" style="font-size: 30px;"></i></a>
      </div>   
      <button class="btn btn-danger" style="margin-left: 400px;" onclick="logoutfun()">
        <i class="bi bi-box-arrow-right"></i>
        logout
      </button>
    </div>
  </div>
</header>
<script>
  function logoutfun() {
    window.location.href = "/user/logout"
  }
</script>