<footer class="text-white bg-dark p-5">
   <div class="container">
     <div class="row">
       <div class="col-md-3">
         <h6>Contact</h6>
         <p>Location: XYZ</p>
       </div>
       <div class="col-md-3">
         <h6>Customer Service</h6>
         <a href="#">FAQs</a><br>
         <a href="#">Help Center</a>
       </div>
       <div class="col-md-3">
         <h6>About us</h6>
         <a href="#">Terms & Conditions</a><br>
         <a href="#">Privacy Policy</a>
       </div>
       <div class="col-md-3">
         <h6>Newsletter</h6>
         <form>
           <input type="email" class="form-control" placeholder="example@mail.com">
           <button class="btn btn-primary mt-2">Subscribe</button>
         </form>
       </div>
     </div>
   </div>
 </footer>